@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header1 {
  background-color: #3A98B9;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}


.image {
border-radius: 40%;
width: 14vh;

}