body {
  background-color: #3A3E85;
  margin-top: 0;
}

#wrap{
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center; 
}

#nav{
  background-color: #A4B2F5;
  float: left;
  width: 25%;
  padding-bottom: 1000em;
  margin-bottom: -1000em;
  

}

#content{
  background-color: #5970DC;
  float: left;
  width: 70%;
  padding-bottom: 1000em;
  margin-bottom: -1000em;
  padding-left: 1em;
  padding-right: 1em;

  

}
 #content ul{
   list-style-type: none;
   
}

 #nav ul{
     text-align: left; 
   
}

.copyright{
   text-align: right;
   padding-right: 1em;
   background-color: #3A3E85;
   margin:0 -1em 0 -12em;
   
   

 }

h1 {
  margin-top: 1em;
}

h2 {
  margin-top: 1.5em;
}



#
/*
h1{
  border-bottom: dotted;
  border-width: 4px;
  margin-top: 0px;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-size: 14px;
}
p, ul {
     font-family: sans-serif;
     padding-left: 10px;
     padding-right: 10px;
    
}

ul {
  list-style-type: none;
  text-align: center;
  font-style: italic;
}



li::first-letter {
  font-size: 26px;
}
*/