.oddnumbers {
  background-color: #FFB7A4;
  font-family: Verdana,DejaVu Sans, Sans-serif;
}

.third{
  font-size: 24px;
}

#second{
  color: #4111DD;
  font-size: 36px;
}

#fourth{
background-color: #B4F061 ;
font-size: 24px;
font-weight: bold;
}